<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is the sample application for the <a href="http://railstutorial.org/">
  Ruby on Rails Tutorial</a>. I am editing it at the moment to broaden my Ruby on Rails knowledge. 
</p>
