<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <br />
    <small>
     Edited by <a href="users/1"> Patrick Guthauser </a>
    </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://patrickssampleapprails.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>
